.navbar {
    background-color:#55acee;
}
a.navbar-brand {
    color:white;
}
a:hover.navbar-brand {
    background-color:white;
    color:#55acee;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.row {
    margin-bottom:10px;
}